*{
    padding: 0;
    margin: 0;
}

body{
    font-family: "Quicksand" , sans-serif;
}

.nav{
    padding: 20px 140px;
}
.nav_logo_text{
    font-size: 32px;
    font-weight: 700;
    color: rgb(17,17,17);
}
.nav_logo{
    display: flex;
    align-items: center;
}

.nav_menu_list{
    list-style-type: none;
    display: flex;
    gap: 32px;
    justify-content: space-between;
    align-items: center;

}

a{
    text-decoration: none;
}

.nav_menu_list_1 a{
    font-size: 20px;
    font-weight: 700;
    color: rgb(254, 163, 1);
}

.nav_menu_list_2 a{
    font-size: 20px;
    font-weight: 500;
    color: rgb(1, 172, 253);
}

.nav_menu_list_3 a{
    font-size: 20px;
    font-weight: 500;
    color: rgb(5, 212, 223);
}

.nav_menu_list_4 a{
    font-size: 20px;
    font-weight: 500;
    color: rgb(93, 88, 239);
}

.nav_btn{
    border-radius: 12px;
    background: rgb(254, 163, 1);
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    padding: 10px 60px;
    border: none;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner{
    padding: 0px 140px;
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
}

.banner_left_head_part1{
    font-size: 56px;
    font-weight: 700;
    line-height: 61px;
    color: rgb(254, 163, 1) ;
}

.banner_left_head_part2{
    font-size: 56px;
    font-weight: 700;
    line-height: 61px;
    color: rgb(17, 17, 17) ;
}

.banner_left_head_part3{
    font-size: 56px;
    font-weight: 700;
    color: rgb(1, 172, 253) ;
}

.banner_left_des{
    font-size: 20px;
    font-weight: 400;
    color: rgb(17, 17, 17) ;
}

.banner_left_btn{
    border-radius: 12px;
    background: rgb(17, 17, 17);
    color: rgb(255, 255, 255);
    padding: 10px 60px;
    border: none;
    font-size: 20px;
    font-weight: 700;

}

.banner_left{
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: start;
}
